@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#home-menu:hover ~ #menu-hover {
}

#docs-menu:hover ~ #menu-hover {
}

#notes-menu:hover ~ #menu-hover {
}

#calendar-menu:hover ~ #menu-hover {
}

#accounts-menu:hover ~ #menu-hover {
}

#cards-menu:hover ~ #menu-hover {
}

#passwords-menu:hover ~ #menu-hover {
}

#mobile-menu-btn {
  height: 0;
}

#mobile-menu-btn::before {
  rotate: 45deg;
  transform-origin: center;
  translate: 0 6.5px;
}

#mobile-menu-btn::after {
  rotate: -45deg;
  transform-origin: center;
  translate: 0 -6.5px;
}

#openMobileMenu {
  left: 0;
}

#closeMobileMenu {
  left: -100%;
}

.date {
  position: relative;
  background-color: transparent;
  z-index: 0;
}

.date::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 100%;
  margin: 6px;
}

progress[value]::-webkit-progress-bar {
  height: 20px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;

  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}

progress[value]::-webkit-progress-value::before {
  content: "80%";
  position: absolute;
  right: 0;
  top: -125%;
}

progress[value]::-webkit-progress-value::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}

progress[value]::-moz-progress-bar {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;

  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}
